{% extends 'base.html' %}
{% load static %}
{% block title %}Garage | przegląd{% endblock %}

{% block body %}

    {% if bands|length == 0 %}
        <p>Wygląda na to, że zespoły dopiero tworzą swój materiał i jeszcze nie mają się czym pochwalić. Ale trzymajmy za nich kciuki. W końcu to dla nas to robią.<br>DZIĘKUJEMY WAM, MŁODE ZESPOŁY!</p>
    {% else %}
    <div class="flex-container">

        {% for band in bands %}
        <div class="image-box-overlay">
<!--Band image-->
            <img
                src="/media/{{band.image}}"
                class="band-photo-small"
                style="position: relative;"
                onmouseover="showIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                onmouseout="hideIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
            />
<!--Image glass-->
            <div
                class="image-overlay"
                id="image glass {{ band.id }}"
                onmouseover="showIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                onmouseout="hideIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
            ></div>
<!--Description-->
            <div
                class="description"
                id="description {{ band.id }}"
                onmouseover="showIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                onmouseout="hideIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
            >
                {{ band.short_desc }}
            </div>
<!--Icon play-->
            <i
                class="fa-solid fa-circle-play fa-2xl play-overlay"
                id="icon play {{ band.id }}"
                {% for song in songs %}
                    {% if song.band.id == band.id %}
                        style="cursor: pointer"
                        onclick="play('/media/{{ song.file }}')"
                    {% endif %}
                {% endfor %}
                onmouseover="showIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                onmouseout="hideIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
            ></i>

<!--Band name-->
            <div class="text text-overlay">
                <span
                    class="span-name-overlay"
                    id="name glass {{ band.id }}"
                    onmouseover="showIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                    onmouseout="hideIcons('icon play {{ band.id }}', 'image glass {{ band.id }}', 'name glass {{ band.id }}', 'description {{ band.id }}')"
                >
                    {{ band.name }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

<!--Player-->
<footer class="footer">
    <audio controls seekable controlsList="nodownload" class="player" style="width: 80%;" id="player">
        <source src="" type="audio/mpeg" id="playerSrc">
        <source src="" type="audio/ogg">
        Your browser does not support the <code>audio</code> element.
    </audio>
</footer>

{% endblock body %}
