{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Garage | nowy zespół{% endblock %}

{% block body %}

<div align="center">
    <div class="card" style="width: 26rem;" align="left">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form method="post", enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <br>
                <button type="submit" class="btn btn-outline-dark">Dodaj zespół</button>
            </form>
        </div>
    </div>
    <br>
    <a href="{% url 'login' %}">Wróć na stronę logowania</a>
</div>

{% endblock %}
