{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Garage | edytuj piosenki{% endblock %}

{% block body %}

<div align="center">
    <h5 class="card-title">
        Nowe piosenki? Super! Będzie słuchane.
    </h5>
    Dodane piosenki: {{ songs|length }}/3
    <br><br>

    <div class="card" style="width: 46rem;" align="left">
        {% for song_form in songs_forms %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                {{ song_form.0|bootstrap }}
            </div>
<!--Button: save changes-->
            <button type="submit" class="btn btn-outline-dark" name="save_{{ song_form.1 }}">
                Zapisz zmiany
            </button>
<!--Button: delete song-->
            <button type="submit" class="btn btn-danger" name="delete_{{ song_form.1 }}">
                Usuń
            </button>
        </form>
        <br><hr>
        {% endfor %}
    </div>
    <br>
    {% if songs|length < 3 %}
        <a href="{% url 'add_song' band.id %}">Dodaj piosenkę</a>
    {% endif %}
    <br>
    <a href="{% url 'edit_band' band.id %}">Wróć do edycji zespołu</a><br>
    <a href="{% url 'dashboard' %}">Wróć na dashboard</a>
</div>

<script src="{% static 'song_fields_unhide.js' %}"></script>
{% endblock %}
