{% extends 'base.html' %}
{% load static %}
{% block title %}Garage | twoje zespoły{% endblock %}

{% block body %}

<div class="site-name">
    twoje zespoły<br><br>
</div>

<!--SIDEBAR-->
<div class="flex-container" style="flex-direction: column; float: left;">
    {% for band in bands %}
    <div>
        <div class="image-box-overlay">
<!--Band image-->
            <img
                src="/media/{{band.image}}"
                class="band-photo-small img-fluid"
                style="position: relative;"
                onmouseover="showIcons('icon-play-{{ band.id }}', 'image-glass-{{ band.id }}', 'name-glass-{{ band.id }}', 'description-{{ band.id }}')"
                onmouseout="hideIcons('icon-play-{{ band.id }}', 'image-glass-{{ band.id }}', 'name-glass-{{ band.id }}', 'description-{{ band.id }}')"
            />
<!--Band name-->
            <div class="text text-overlay">
                <span
                    class="span-name-overlay"
                    id="name-glass-{{ band.id }}"
                    onmouseover="showIcons('icon-play-{{ band.id }}', 'image-glass-{{ band.id }}', id, 'description-{{ band.id }}')"
                    onmouseout="hideIcons('icon-play-{{ band.id }}', 'image-glass-{{ band.id }}', id, 'description-{{ band.id }}')"
                >
                    {{ band.name }}
                </span>
            </div>
        </div>
<!--Button: EDIT-->
        <div class="dropdown-edit">
            <button class="btn-edit-band" id="btn-edit-{{ band.id }}">edytuj >></button>
            <div class="dropdown-edit-content" id="dropdown-edit-content-{{ band.id }}">
<!--Button: band-->
                <div class="dropdown-inside-edit">
                    <button id="btn-edit-choice-{{ band.id }}-ozespole">zespół >></button>
                    <div class="dropdown-inside-edit-content" id="dropdown-inside-edit-content-{{ band.id }}" style="top: 0px;">
                        <button class="btn-edit-band-choice" id="band-info-content-{{ band.id }}" onclick="editBandAction(id, 'btn-edit-{{ band.id }}', 'dropdown-edit-content-{{ band.id }}', 'band-edit-form-{{ band.id }}')">informacje</button>
                        <button class="btn-edit-band-choice" id="band-links-content-{{ band.id }}" onclick="editLinksAction(id, 'btn-edit-{{ band.id }}', 'dropdown-edit-content-{{ band.id }}', 'band-links-form-{{ band.id }}')">linki</button>
                    </div>
                </div>
<!--Button: songs-->
                <div class="dropdown-inside-edit">
                    <button id="btn-edit-choice-{{ band.id }}-piosenki">utwory >></button>
                    <div class="dropdown-inside-edit-content" id="dropdown-inside-edit-content-{{ band.id }}-{{song.id}}" style="top: 36px;">
                        {% for band_id, songs in band_songs.items %}
                            {% if band_id == band.id %}
                                {% for song in songs %}
                                    <button class="btn-edit-band-choice" id="dropdown-songs-content-{{ band.id }}-{{ song.id }}" onclick="editSongsAction(id, 'btn-edit-{{ band.id }}', 'dropdown-edit-content-{{ band.id }}', 'song-edit-form-{{ band_id }}-{{ song.id }}')">{{ song.title }}</button>
                                {% endfor %}
                                {% if songs|length < 3 %}
                                    <button class="btn-edit-band-choice" id="dropdown-songs-content-{{ band.id }}-0" onclick="editSongsAction(id, 'btn-edit-{{ band.id }}', 'dropdown-edit-content-{{ band.id }}', 'song-edit-form-{{ band.id }}-0')">nowy utwór</button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
<!--Button: privileges-->
                <button class="btn-edit-band-choice" id="btn-edit-choice-{{ band.id }}-uprawnienia" onclick="editPrivilegesAction(id, 'btn-edit-{{ band.id }}', 'dropdown-edit-content-{{ band.id }}', 'privileges-manage-form-{{ band.id }}')">uprawnienia</button><br></div>
        </div>
    </div>
    {% endfor %}
<!--Button: ADD NEW BAND-->
    <button id="btn-new-band" onclick="newBandAction()" style="color: var(--background-color); background-color: var(--primary-color); width: var(--primary-width); padding: 5px 28px; font-size: 16px;">
        dodaj nowy zespół
    </button>

</div>

<!--Content-->
<div class="flex-container" style="flex-direction: column;">
    <div class="col-11">
<!--Form: BAND-->
        {% for id, form in band_forms.items %}
            <form method="post" class="edit-form" id="band-edit-form-{{ id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ id }}" name="band_id">
                <div class="row">
                    <div class="col-3">Nazwa:</div>
                    <div class="col">{{ form.name }}</div>
                </div><br>
                <div class="row textarea-short">
                    <div class="col-3">Krótki opis (do 150 znaków):</div>
                    <div class="col">{{ form.short_desc }}</div>
                </div><br>
                <div class="row textarea-long">
                    <div class="col-3">Długi opis:</div>
                    <div class="col">{{ form.long_desc }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">E-mail zespołu:</div>
                    <div class="col">{{ form.contact_email }}</div>
                <div class="row">
                </div><br>
                    <div class="col-3">E-mail widoczny:</div>
                    <div class="col-1">{{ form.show_contact_email }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Zespół aktywny:</div>
                    <div class="col-1">{{ form.is_active }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Główny gatunek:</div>
                    <div class="col">{{ form.genre }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Kraj:</div>
                    <div class="col" name="dropdown-form">{{ form.country }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Miejscowość:</div>
                    <div class="col">{{ form.city }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Tagi oddzielone przecinkami:</div>
                    <div class="col">{{ form.tags }}</div>
                </div><br>
                <div class="row">
                    <div class="col-3">Zdjęcie:</div>
                    <div class="col">{{ form.image }}</div>
                </div><br>
                <br>
<!--Button: save band-->
                <div class="row">
                    <button type="submit" name="save_band" style="color: var(--background-color); background-color: var(--primary-color); padding: 5px 28px; font-size: 16px;">zapisz zmiany</button>
                </div>
<!--DELETE BAND-->
                <div class="bandDeleteFormClass" id="bandDeleteFormId-{{ id }}">
                    <form method="post"  >
<!--Button: delete band-->
                        <br><br><hr style="border-top: 1px dashed">
                        <button
                                type="button"
                                style="width: 20%; background-color: #cc3357; color: white; border: none; padding: 5px 28px; font-size: 16px;"
                                data-bs-toggle="modal"
                                data-bs-target="#bandDeleteConfirmationBox-{{ id }}"
                        >
                            usuń zespół
                        </button>
<!--Delete band: confirmation box-->
                        <div class="modal fade" id="bandDeleteConfirmationBox-{{ id }}" tabindex="-1" aria-labelledby="bandDeleteConfirmationBoxLabel-{{ id }}" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="bandDeleteConfirmationBoxLabel-{{ id }}">Potwierdź usunięcie</h5>
                                          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="color: var(--background-color);"></button>
                                      </div>
                                      <div class="modal-body">
                                          Czy na pewno chcesz usunąć <b>{{ form.name.value }}</b>? Zespół nie będzie dłużej przechowywany w bazie danych i wszystkie dane zostaną trwale usunięte. Tej operacji nie da się cofnąć.
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="button" data-bs-dismiss="modal">zamknij</button>
                                          <button type="submit" class="button" name="delete-band-{{ id }}" style="color: var(--background-color); background-color: var(--primary-color);">usuń</button>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </form>
                </div>
            </form>
        {% endfor %}
<!--Form: NEW BAND-->
        <form method="post" class="edit-form" id="new-band-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">Nazwa:</div>
                <div class="col">{{ new_band_form.name }}</div>
            </div><br>
            <div class="row textarea-short">
                <div class="col-3">Krótki opis (do 150 znaków):</div>
                <div class="col">{{ new_band_form.short_desc }}</div>
            </div><br>
            <div class="row textarea-long">
                <div class="col-3">Długi opis:</div>
                <div class="col">{{ new_band_form.long_desc }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">E-mail zespołu:</div>
                <div class="col">{{ new_band_form.contact_email }}</div>
            <div class="row">
            </div><br>
                <div class="col-3">E-mail widoczny:</div>
                <div class="col-1">{{ new_band_form.show_contact_email }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Zespół aktywny:</div>
                <div class="col-1">{{ new_band_form.is_active }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Główny gatunek:</div>
                <div class="col">{{ new_band_form.genre }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Kraj:</div>
                <div class="col" name="dropdown-form">{{ new_band_form.country }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Miejscowość:</div>
                <div class="col">{{ new_band_form.city }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Tagi oddzielone przecinkami:</div>
                <div class="col">{{ new_band_form.tags }}</div>
            </div><br>
            <div class="row">
                <div class="col-3">Zdjęcie:</div>
                <div class="col">{{ new_band_form.image }}</div>
            </div><br>
            <br>
<!--Button: save new band-->
            <div class="row">
                <button type="submit" name="new_band" style="color: var(--background-color); background-color: var(--primary-color); padding: 5px 28px; font-size: 16px;">zapisz zespół</button>
            </div>
        </form>
<!--Form: LINKS-->
        {% for band_id, form in social_links.items %}
            <form method="post" class="edit-form" id="band-links-form-{{ band_id }}">
                {% csrf_token %}
                <input type="hidden" value="{{ band_id }}" name="band_id">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-3">Strona zespołu:</div>
                            <div class="col">{{ form.band_site }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">Facebook:</div>
                            <div class="col">{{ form.facebook }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">Bandcamp:</div>
                            <div class="col">{{ form.bandcamp }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">Spotify:</div>
                            <div class="col">{{ form.spotify }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">YouTube:</div>
                            <div class="col">{{ form.youtube }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">SoundCloud:</div>
                            <div class="col">{{ form.soundcloud }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">iTunes:</div>
                            <div class="col">{{ form.itunes }}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">Instagram:</div>
                            <div class="col">{{ form.instagram }}</div>
                        </div>
                        <br><br>
                        <div class="row">
                            <button type="submit" name="save_links" style="color: var(--background-color); background-color: var(--primary-color); padding: 5px 28px; font-size: 16px;"  >zapisz</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}
<!--Form: SONG-->
        <div class="row">
            {% for band_id, forms in song_forms.items %}
                {% for song_id, form in forms.items %}
                    <form method="post" class="edit-form" id="song-edit-form-{{ band_id }}-{{ song_id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-6 mx-auto">
                            <input type="hidden" value="{{ band_id }}" name="band_id">
                            <input type="hidden" value="{{ song_id }}" name="song_id">
                            <div class="row">
                                <div class="col-3">Tytuł:</div>
                                <div class="col">{{ form.title }}</div>
                            </div><br>
                            <div class="row">
                                <div class="col-3">Posiada tekst:</div>
                                <div class="col-2" onclick="hideLyricsFields({{band_id}}, {{song_id}})">{{ form.has_lyrics }}</div>
                            </div><br>
                            <div class="row" id="language-{{band_id}}-{{song_id}}">
                                <div class="col-3">Język:</div>
                                <div class="col">{{ form.language }}</div>
                            </div><br>
                            <div class="row" id="lyrics-{{band_id}}-{{song_id}}">
                                <div class="col">
                                    <div class="row">Tekst:</div>
                                    <div class="row">{{ form.lyrics }}</div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <div class="row">Plik:</div>
                                    <div class="row">{{ form.file }}</div>
                                </div>
                            </div><br>
                            <div class="row">
                                {% if form.file.value %}
                                    <button type="button" style="width: 30%; margin: auto;" onclick="play('/media/{{ form.file.value }}')">odtwórz</button>
                                {% endif %}
                            </div>
                            <br><br>
                            <div class="row">
                                <button type="submit" name="save_songs" style="color: var(--background-color); background-color: var(--primary-color); padding: 5px 28px; font-size: 16px;"  >zapisz</button>
                            </div>
                        </div>
<!--DELETE SONG-->
                        <div class="songDeleteFormClass" id="songDeleteFormId-{{ song_id }}">
                            <form method="post"  >
<!--Button: delete song-->
                                <br><br><hr style="border-top: 1px dashed">
                                <button
                                        type="button"
                                        style="width: 20%; background-color: #cc3357; color: white; border: none; padding: 5px 28px; font-size: 16px;"
                                        data-bs-toggle="modal"
                                        data-bs-target="#confirmationBox-{{ band_id }}-{{ song_id }}"
                                >
                                    usuń utwór
                                </button>
<!--Delete song: confirmation box-->
                                {% csrf_token %}
                                <div class="modal fade" id="confirmationBox-{{ band_id }}-{{ song_id }}" tabindex="-1" aria-labelledby="confirmationBoxLabel-{{ band_id }}-{{ song_id }}" aria-hidden="true">
                                      <div class="modal-dialog">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title" id="confirmationBoxLabel-{{ band_id }}-{{ song_id }}">Potwierdź usunięcie</h5>
                                                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="color: var(--background-color);"></button>
                                              </div>
                                              <div class="modal-body">
                                                  Czy na pewno chcesz usunąć <b>{{ form.title.value }}</b>? Tej operacji nie da się cofnąć.
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="button" data-bs-dismiss="modal">zamknij</button>
                                                  <button type="submit" class="button" name="delete-song-{{ band_id }}-{{ song_id }}" style="color: var(--background-color); background-color: var(--primary-color);">usuń</button>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </form>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">

        {% for band, users in users_with_privileges.items %}

            <div class="edit-form" id="privileges-manage-form-{{ band.id }}">
                Uprawnienia do zarządzania zespołem <span style="color: var(--primary-color)">{{band.name}}</span> posiadają:<br>
                {% for user in users %}
                    <li>{{ user.username }} ({{ user.email }})</li>
                {% endfor %}
                <br><br>
                <div class="col-6">

                    <!--Section: give privileges-->
                    <h5>Nadaj uprawnienia</h5>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ band.id }}" name="band_id">
                        Email <span style="font-size: 10px;">(użytkownik musi posiadać konto w Garażu)</span>
                        <input type="email" name="user_email"  required/><br><br>
                        <button type="submit" name="give_privileges" style="width: 150px; color: var(--background-color); background-color: var(--primary-color);">nadaj</button>
                    </form>
                    <br><br>

                    <!--Section: take privileges-->
                    <h5>Odbierz uprawnienia</h5>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ band.id }}" name="band_id">
                        <select name="users_to_privilege_take">
                            <option selected="selected" disabled>Wybierz użytkownika</option>
                            {% for user in users %}
                                <option value="{{ user.email }}">{{ user.username }} ({{ user.email }})</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <button type="submit" name="take_privileges" style="width: 150px; color: var(--background-color); background-color: var(--primary-color);">odbierz </button>
                    </form>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

<div class="clear" style="clear: both; height: 0px;"></div>
<!--Player-->
<footer class="footer">
    <audio controls seekable controlsList="nodownload" class="player" style="width: 80%;" id="player">
        <source src="" type="audio/mpeg" id="playerSrc">
        <source src="" type="audio/ogg">
        Your browser does not support the <code>audio</code> element.
    </audio>
</footer>

{% endblock body %}
