{% load static %}
{% load poll_extras %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1167.0.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'static/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/43f0afd092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'static/garage_online.css' %}">
    <script src="{% static 'static/garage.js' %}"></script>

    <script>
        [primary_color, text_color, background_color, background_medium_color, background_light_color] = [{% get_global_colors %}];
        root.style.setProperty('--primary-color', primary_color);
        root.style.setProperty('--text-color', text_color);
        root.style.setProperty('--background-color', background_color);
        root.style.setProperty('--background-medium-color', background_medium_color);
        root.style.setProperty('--background-light-color', background_light_color);
    </script>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <title>{% block title %}{% endblock %}</title>

<!--Header-->
    <div class="header">
<!--Logo-->
        <text class="logo">
            garageonline
        </text>
<!--SEARCH-->
        <div class="search" align="center">
<!--Button: filter-->
            <button id="btn-filter" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas" onclick="copySearchInput()">
                <i class="fa-solid fa-filter"></i>
            </button>

            <form method="post" style="display: inline-block;">
                {% csrf_token %}
<!--Button: search-->
                <button id="btn-search" name="btn-search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" id="search-place" name="search-place" placeholder="Szukaj...">
            </form>

        </div>
<!--Menu-->
        <div class="header-right">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a style="color: var(--primary-color); cursor: default;">dashboard</a>
                    <div class="dropdown-content">
                        <a href="{% url 'user_settings' %}">konto</a><br>
                        <a href="{% url 'user_bands' %}">twoje zespoły</a><br>
                    </div>
                </div>
            {% endif %}

            <a href="{% url 'all_bands' %}">zespoły</a>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">zaloguj</a>
            {% endif %}
        </div>
    </div>
</div>

</head>
<br><br>
<body>
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>