{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Garage | resetowanie hasła{% endblock %}

{% block body %}

Przepraszamy, prace nad udoskonaleniem serwisu wciąż trwają.

<!--<div align="center">-->
<!--    <div style="width: 32rem;" align="left">-->
<!--        <h4>Więc chciałbyś zresetować swoje hasło, tak?</h4>-->
<!--        Nie ma sprawy. Wpisz tylko swój e-mail poniżej.<br>-->
<!--        <br>-->

<!--        <form method="post" class="edit-form visible-form">-->
<!--            {% csrf_token %}-->
<!--            E-mail-->
<!--            {{ form.email }}-->
<!--            <br><br>-->
<!--            <button type="submit" class="btn-register">Wyślij e-mail</button>-->
<!--        </form>-->

<!--        <br>-->
<!--        <a href="{% url 'login' %}">Wróć na stronę logowania</a><br>-->
<!--        <a href="{% url 'all_bands' %}">Weź mnie na stronę główną</a>-->

<!--    </div>-->
<!--</div>-->

{% endblock %}