body {
    padding: 2rem;
    background-color: black;
    color: white;
}

a {
    color: #a5f52f;
}



button {
    background-color: #42f5ec;
    border-color: #42f5ec;
    color: black;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.band-photo-small {
    width: 300px;
}

.band-photo {
    display: block;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
