:root {
    --primary-color: #fcba03;
    --background-color: #000000;
    --background-medium-color: #202020;
    --background-light-color: #505050;
    --text-color: #ffffff;

    --primary-width: 300px;
    --medium-width: 450px;
    --large-width: 760px;

    --button-height-shift: 36px;
}

body {
    padding: 2rem;
    background-color: black;
    color: var(--text-color);
    margin-bottom: 75px;
}

button {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

li {
    list-style-type: square;
    color: var(--text-color);
}

.alert {
    padding: 20px;
    background-color: var(--primary-color);
    color: black;
    margin-bottom: 15px;
}

/* Alert close button */
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 75px;
}

.image-box-overlay {
    position: relative;
}

.image-overlay {
    display: none;
    /* background: rgba(105, 73, 1, 0.7); */
    /* background: rgba(252, 186, 3, 0.7); */
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.text-overlay {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.description {
    color: var(--text-color);
    display: none;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 100%;
    padding-left: 8px;
    font-size: 16px;
}

.play-overlay {
    display: none;
    position: absolute;
    bottom: 8%;
    width: 100%;
    text-align: center;
}

.span-name-overlay {
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.band-photo-small {
    width: var(--primary-width);
}

.band-photo-large {
    width: var(--large-width);
}

.band-photo {
    display: block;
    width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
}

.btn-edit-band {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px 28px;
    font-size: 16px;
    cursor: default;
    width: var(--primary-width);
}

.site-name {
    font-size: 25px;
    color: var(--primary-color);
}

.header {
    top: 0;
    position: sticky;
    z-index: 1;
    height: 50px;
    width: 100%;
    background: var(--background-color);
}

.logo {
    font-size: 30px;
    display: inline-block;
}

.search {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 0px;
    width: 100%;
}

.search input {
    position: relative;
    border: 2px solid var(--background-light-color);
    background: var(--background-color);
    color: var(--text-color);
    width: var(--medium-width);
}

.search input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

#btn-filter {
    color: var(--background-color);
    background-color:
    var(--primary-color);
    border: none;
}

.header a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

a:hover {
    color: var(--text-color);
}

a.active {
    color: var(--text-color);
}

.header-right {
    position: relative;
    display: inline-block;
    float: right;
    top: 10px;
}

/* Dropdown menu for header */
.dropdown {
   float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: var(--background-medium-color);
    z-index: 1;
}

.dropdown-content a {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Dropdown menu for edit band section */
.dropdown-edit-content {
    display: none;
    position: absolute;
    width: var(--primary-width);
    background-color: var(--background-color);
    z-index: 1;
}

.dropdown-edit-content button {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px 28px;
    font-size: 16px;
    cursor: pointer;
    width: var(--primary-width);
}

.dropdown-edit-content button:hover {
    font-size: 16px;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.dropdown-edit:hover .dropdown-edit-content {
    display: block;
}

/* Dropdown menu for edit band and song section */
.dropdown-inside-edit-content {
    display: none;
    position: absolute;
    left: var(--primary-width);
    width: var(--primary-width);
    background-color: var(--background-color);
    z-index: 1;
}

.dropdown-inside-edit-content button {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px 28px;
    font-size: 16px;
    cursor: pointer;
    width: var(--primary-width);
}

.dropdown-inside-edit-content button:hover {
    font-size: 16px;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.dropdown-inside-edit:hover .dropdown-inside-edit-content {
    display: block;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    color: white;
    text-align: center;
}

/* Forms */
.edit-form {
    display: none;
}

.edit-form .row {
    padding-left: 10px;
}

.edit-form input, textarea {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    width: 100%
}

.edit-form .textarea-short textarea{
    height: 100px;
    width: 100%;
}

.edit-form .textarea-long textarea{
    height: 300px;
    width: 100%;
}

.edit-form #dropdown-form {
    width: 15px;
}

.edit-form input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

/* Confirmation box */
.modal-content {
    background-color: var(--background-medium-color);
}

.modal-title {
    color: var(--primary-color);
}

/* Filter offcanvas */
.offcanvas-header {
    background-color: var(--primary-color);
}

.offcanvas-title {
    color: var(--background-color);
}

.offcanvas-body {
    background-color: var(--background-medium-color);
}

.form-check-input {
    background-color: var(--primary-color);
}

.list-group {
    display: inline-block;
}

#btn-offcanvas {
    color: var(--background-color);
    background-color:
    var(--primary-color);
    border: none;
}

/* Audio player */
audio::-webkit-media-controls-panel{
background-color:var(--primary-color) !important;
}