body {
    padding: 2rem;
}

.band-photo-small {
    width: 150px;
    cursor: pointer
}

.band-photo {
    display: block;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
